@font-face { font-family: Volte Rounded; font-weight: 400; src:url("http://enviolo.com/fonts/Indian Type Foundry - VolteRounded-Medium.otf") format("opentype") }
@font-face { font-family: Volte Rounded; font-weight: 100; src:url("http://enviolo.com/fonts/Indian Type Foundry - VolteRounded-Regular.otf") format("opentype") }
@font-face { font-family: Volte Rounded; font-weight: 700; src:url("http://enviolo.com/fonts/Indian Type Foundry - VolteRounded-Semibold.otf") format("opentype") }
@font-face { font-family: Adelle Sans; font-weight: 100; src:url("http://enviolo.com/fonts/TypeTogether - AdelleSansTh.otf") format("opentype") }
@font-face { font-family: Adelle Sans; font-weight: 400; src:url("http://enviolo.com/fonts/TypeTogether - AdelleSans.otf") format("opentype") }
@font-face { font-family: Adelle Sans; font-weight: 600; src:url("http://enviolo.com/fonts/TypeTogether - AdelleSansSb.otf") format("opentype") }

* { box-sizing: border-box; }
html { color: #222; font-weight: 100; font-size: 1em; font-family: Adelle Sans,sans-serif; line-height: 1.375; -webkit-font-smoothing: antialiased; }
body { margin: 0px; font-family: arial; }
a { color: inherit }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

main { margin: 20px; }
header.guest div.view { margin: 0px 20px 0 20px; }
header.guest div.view span { display: block; }
header.guest div.view span i { font-size: 0.81em; font-weight: bold; font-style: normal; }
header.guest div.view span em { font-size: 0.61em; font-style: normal; color: #777777; line-height: 0.5; }

section.guest div.view { margin: 20px 20px 0 20px; }
section.registration div.view fieldset { border-bottom: 1px solid gray; margin-top: 10px; padding-bottom: 10px; }
section.registration div.view fieldset legend { font-size: 1.1em; font-weight: bold; }
section.registration div.view fieldset em { display: block; font-size: 0.81em; }
section.registration div.view fieldset em { display: block; font-size: 0.81em; }
section.registration div.view fieldset input[type:"checkbox"] { float: left; border: 1px solid black; }

section.guest div.view { margin: 20px 20px 0 20px; }

footer.guest div.view { margin: 20px 20px 0 20px; }

#output { background-color:beige; font-size:24px; padding:10%; }
#buttonOne { background-color:cadetblue; padding 15px; border:1px solid black; width: 150px; text-align: center; margin: 10px; }
#oneForm { margin: 15px; padding: 10px; }
