#output { background-color:beige; font-size:24px; padding:10%; }
#buttonOne { background-color:cadetblue; padding 15px; border:1px solid black; width: 150px; text-align: center; margin: 10px; }
#oneForm { margin: 15px; padding: 10px; }
